<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Launch all "inner" launch files -->
  <include file="$(find darknet_ros)/launch/darknet_ros_as.launch"/>
  <include file="$(find sciroc_darknet_bridge)/launch/sciroc_darknet_bridge.launch"/>
  <include file="$(find sciroc_objdet)/launch/sciroc_objdet.launch"/>

</launch>
